<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Productivity App V2</h1>

        <!-- Calculator Section -->
        <div class="section">
          <button onclick="location.href='/calculator'" class="redirect-btn">Go to Calculator</button>
        </div>

        <!-- Notes Section -->
        <div class="section">
          <button onclick="location.href='/notes'" class="redirect-btn">Go to your Notes</button>
        </div>
    </div>
</body>
</html>

